.sss{
	overflow:hidden;

	.head{
		width:100%;
		position:fixed;
		background:#fff;
		z-index:10;
		opacity:.9;
		overflow:hidden;
		.head1{
			width:100%;
			height:.48rem;
			overflow:hidden;
			.fh{
				height:100%;
				width:.5rem;
				float:left;
				text-align:center;
				.a{
					display:block;
					width:100%;
					height:100%;
					.fh1{
						font-size:.20rem;
						line-height:.56rem;
						font-weight:bold;
					}
				}
			}
			.bt{
				float:left;
				width:2.7rem;
				text-align:center;
				font-weight:bold;
				font-size:.14rem;
				.bt1{
					display:block;
					width:100%;
					line-height:.28rem;
				}
				.jiage{
					width:100%;
					display:block;
					line-height:.20rem;
					color:#c44;
				}
			}
			.cz{
				float:left;
				width:.50rem;
				height:100%;
				text-align:center;
				.cz1{
					font-size:.16rem;
					line-height:.48rem;
					font-weight:bold;
				}
			}
		}
		.head2{
			width:100%;
			height:.44rem;
			display:flex;
			.list{
				flex:1;
				text-align:center;
				line-height:.44rem;
				color:#999;
				font-size:.14rem;
			}
			.current{
				color:#2b2b2b;
				font-weight:bold;
			}
		}
		.hide{
			display:none;
		}
	}
	.lunbo{
		width:90%;
		height:4.6rem;
		margin:0 auto;
	}
	.lbtp{
		width:100%;
		height:4.6rem;
	}
	.xinxi{
		width:90%;
		margin:5% auto;
		.shangpm{
			font-size:.18rem;
			color:#000;
			padding:.08rem 0 .04rem 0;
		}
		.yuanjia{
			font-size:.12rem;
			color:#ccc;
			display:block;
			text-decoration:line-through;
		}
		.xianjia{
			color:#dd2828;
			font-size:.16rem;
			font-weight:bold;
			margin-bottom:.06rem;
		}
		.fahuo{
			color:#666;
			font-size:.12rem;
			margin-bottom:.15rem;
			.shijian{
				margin-left:.05rem;
			}
		}
		.img1{
			display:block;
			width:100%;
			margin-bottom:.3rem;
		}
		.spcs{
			font-size:.18rem;
			font-weight:bold;
			margin-bottom:.2rem
		}
		.datu{
			width:100%;
			margin-bottom:.06rem;
		}
		.table{
			width:100%;
			padding-bottom:.2rem;
			border-bottom:1px #ccc solid;
			.tbody{
				width:100%;
				.tr{
					width:100%;
					.td1{
						width:25%;
						color:#999;
					}
					.td1,.td2{
						font-size:.14rem;
						line-height:.28rem;
					}
				}
			}
		}
		.spxq{
			font-size:.18rem;
			font-weight:bold;
			line-height:.6rem;
		}
		.miaoshu{
			font-size:.14rem;
			line-height:.24rem;
			color:#333;
			text-align:justify;
			margin-bottom:.2rem;
		}
		.xiangxitu{
			width:100%;
			display:block;
			margin-bottom:.1rem;
		}
		.xihu{
			font-size:.18rem;
			font-weight:bold;
			line-height:.6rem;
		}
		.xihu_ms{
			font-size:.12rem;
			color:#999;
			padding-bottom:.25rem;
			border-bottom:1px #ccc solid;
			display:block;
		}
		.pinpai{
			font-size:.18rem;
			font-weight:bold;
			line-height:.6rem;
		}
		.pinpai_tp{
			width:100%;
			margin-bottom:.08rem;
		}
		.pinpai_ms{
			font-size:.14rem;
			color:#333;
			text-align:justify;
			padding-bottom:.3rem;
			display:block;
			border-bottom:1px #ccc solid;
		}
		.jinyong{
			width:100%;
		}
	}
	


}

